<div>
    <p-toast></p-toast>
    <p-breadcrumb [model]="BreadcrumbItems" [home]="BreadcrumbHome"></p-breadcrumb>
    <div class="page_title">
        <h2>Danh mục phòng ban</h2>
    </div>
    <div class="container-fluid">
        <p-toolbar>
            <div class="ui-toolbar-group-left">
                <button pButton type="button" label="Tạo tệp" icon="pi pi-plus" style="margin-right: .25em !important;"
                    (click)="displayCreate_1=true"></button>
                <button pButton type="button" label="Xem" icon="far fa-eye" class="ui-button-success" style="margin-right: .25em !important;"></button>
                <i class="pi pi-bars"></i>
                <p-splitButton label="Gửi" icon="fas fa-arrow-right" (onClick)="send()" [model]="send_methods"></p-splitButton>
            </div>
            <div class="ui-toolbar-group-right">
                <button pButton type="button" icon="pi pi-search"></button>
            </div>
        </p-toolbar>
    </div>
   
</div>