<div>
    <p-toast></p-toast>
    <p-breadcrumb [model]="BreadcrumbItems" [home]="BreadcrumbHome"></p-breadcrumb>
    <div class="page_title">
        <h2>Quản lý tệp</h2>
    </div>

    <div class="container-fluid">
        <p-toolbar>
            <div class="ui-toolbar-group-left">
                <button pButton type="button" label="Tạo tệp" icon="pi pi-plus" style="margin-right: .25em !important;"
                    (click)="displayCreate_1=true"></button>
                <button pButton type="button" label="Gửi" icon="fas fa-arrow-right" style="margin-right: .25em !important;"
                    (click)="ShareDocument()" *ngIf="crnt_user.DepartmentId==0&&selectedFile"></button>
            </div>
            <div class="ui-toolbar-group-right">
                <button pButton type="button" icon="pi pi-search" [routerLink]="['/truy-van-van-ban']"
                    [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"></button>
            </div>
        </p-toolbar>
        <br />
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <div #tree>
                    <p-tree [value]="dirs" selectionMode="single" [(selection)]="selectedDir"
                        (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)"></p-tree>
                    <p-contextMenu [model]="menu_context" [target]="tree" appendTo="body"></p-contextMenu>
                </div>
            </div>
            <div class="col-md-8 col-lg-8">
                <div *ngIf="docs" style="padding: 0 15px 20px 15px;">
                    <p-table #dt [value]="docs" [paginator]="true" [rows]="10" [columns]="cols" dataKey="DocumentId"
                        [(selection)]="selectedFile" selectionMode="single">

                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th style="width: 3em">
                                    STT
                                </th>
                                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                                        ariaLabelDesc="Activate to sort in descending order"
                                        ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                </th>
                                <th style="width:10em"></th>
                            </tr>
                            <tr>
                                <th></th>
                                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                                    <input *ngSwitchCase="'Name'" pInputText type="text"
                                        (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                                    <input *ngSwitchCase="'LastModifiedOnDate'" pInputText type="text"
                                        (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                                    <input *ngSwitchCase="'CreatedByUserName'" pInputText type="text"
                                        (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                                    <input *ngSwitchCase="'FileUrl'" pInputText type="text"
                                        (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                                    <p-dropdown *ngSwitchCase="'FileCates'" [options]="dm_cates"
                                        [style]="{'width':'100%'}"
                                        (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
                                </th>
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                            <tr [pSelectableRow]="item">
                                <td>
                                    {{rowIndex+1}}
                                </td>
                                <!-- <td *ngFor="let col of cols">
                                    {{item[col.field]}}
                                </td> -->
                                <td>{{item.Name}}</td>
                                <td>{{item.CreatedByUserName}}</td>
                                <td>{{item.LastModifiedOnDate | date}}</td>
                                <td> <button pButton icon="fas fa-bezier-curve" (click)="showCateItem($event,item,op)"
                                        class="ui-button-secondary"></button></td>
                                <td>
                                    <button pButton icon="fas fa-eye" (click)="OpenDetail(item)"
                                        class="ui-button-success"></button>
                                    <button pButton icon="fas fa-edit" (click)="OpenUpdate(item)"
                                        class="ui-button-warning"></button>
                                    <button pButton icon="fas fa-trash" (click)="ConfirmDelete(item)"
                                        class="ui-button-danger"></button>
                                </td>
                            </tr>

                        </ng-template>
                    </p-table>
                </div>
                <div style="text-align:center" *ngIf="!docs">
                    <p-progressSpinner></p-progressSpinner>
                </div>
            </div>
        </div>
        <p-dialog header="Phương thức" [(visible)]="displayCreate_1" [modal]="true" [responsive]="true"
            [style]="{width: '300px', minWidth: '200px'}" [minY]="70" [maximizable]="true" [baseZIndex]="10000">

            <p-fileUpload #new_file mode="basic" name="new_file[]" customUpload="true"
                (uploadHandler)="myUploader($event,new_file)" maxFileSize="10000000" auto="true"
                chooseLabel="Tải tệp lên" (onSelect)="OnSelectFile($event)" (onProgress)="OnUploading($event,$value)">
            </p-fileUpload>

        </p-dialog>
        <p-dialog header="Xem thông tin" [(visible)]="displayDetail" [modal]="true" [responsive]="true"
            [style]="{width: '500px', minWidth: '200px'}" [maximizable]="true" appendTo="body">
            <div *ngIf="selectedFile">
                <div class="form-group">
                    <div style="
                    display: flex;
                    padding: 10px 0;
                    padding-right: 15px;
                    border-bottom: 1px dashed;
                ">

                        <div style="margin-right:10px">Tệp đính kèm:</div>
                        <div style="cursor:pointer;color:#07C">
                            <i class="fas fa-paperclip" style="margin-right:5px"></i>
                            <a style="color:inherit !important" href="{{selectedFile.FileUrl}}" target="blank">Xem tại
                                đây</a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-4">
                            Tên
                        </div>
                        <div class="col-8">
                            {{selectedFile.Name}}
                        </div>
                    </div>


                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-4">
                            Mô tả
                        </div>
                        <div class="col-8">
                            {{selectedFile.Description}}
                        </div>
                    </div>


                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-4">
                            Thể loại
                        </div>
                        <div class="col-8">
                            {{getCateString(selectedFile.FileCates)}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-4">
                            Ngày tạo
                        </div>
                        <div class="col-8">
                            {{selectedFile.CreatedOnDate | date: 'HH:mm, dd/MM/yyyy'}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-4">
                            Lần sửa cuối
                        </div>
                        <div class="col-8">
                            {{selectedFile.LastModifiedOnDate | date: 'HH:mm, dd/MM/yyyy'}}
                        </div>
                    </div>
                </div>
            </div>


            <p-footer>
                <button type="button" pButton icon="fas fa-times" (click)="displayDetail=false" label="Đóng"
                    class="ui-button-info"></button>
            </p-footer>
        </p-dialog>
        <p-dialog header="Tạo tệp mới" [(visible)]="displayCreate" [modal]="true" [responsive]="true"
            [style]="{width: '600px', minWidth: '200px'}" [maximizable]="true" appendTo="body">
            <div>
                <p-messages [(value)]="msgs"></p-messages>
                <div class="form-group">
                    <div style="
                        display: flex;
                        padding: 10px 0;
                        padding-right: 15px;
                        border-bottom: 1px dashed;
                    ">

                        <div style="margin-right:10px">Tệp đính kèm:</div>
                        <div style="cursor:pointer;color:#07C">
                            <i class="fas fa-paperclip" style="margin-right:5px"></i>
                            <a *ngIf="uploadFile" id="uploaded_file" (click)="previewFile()"
                                style="color:inherit !important">{{uploadFile.name
                                +' - '+uploadFile.size+'KB'}}</a>
                        </div>
                    </div>
                </div>
                <div class="form-group">

                    <input type="text" class="form-control" placeholder="Tên tệp" [(ngModel)]="mainModel.Name">

                </div>
                <div class="form-group">

                    <textarea class="form-control" rows="3" placeholder="Mô tả"
                        [(ngModel)]="mainModel.Description"></textarea>
                </div>
                <div>
                    <p-tabView>
                        <p-tabPanel header="Thông tin tệp">
                            <div class="row form-group">
                                <div class="col-md-3">
                                    Ngày tạo
                                </div>
                                <div class="col-md-9">
                                    <p-calendar [(ngModel)]="mainModel.CreatedOnDate" dateFormat="dd/mm/yy"
                                        [showTime]="true"></p-calendar>
                                </div>

                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    Chỉnh sửa lần cuối
                                </div>
                                <div class="col-md-9">
                                    <p-calendar [(ngModel)]="mainModel.LastModifiedOnDate" dateFormat="dd/mm/yy"
                                        [showTime]="true"></p-calendar>
                                </div>

                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    Thể loại
                                </div>
                                <div class="col-md-9">
                                    <div class="d-flex">
                                        <div style="width:90%">
                                            <p-chips *ngIf="selectedCate" [(ngModel)]="selectedCate.strings"
                                                placeholder="Chọn thể loại tài liệu" (onAdd)="OnAdd($event)"
                                                (onRemove)="OnRemove($event)"></p-chips>
                                            <label *ngIf="!selectedCate">Chọn thể loại tài liệu</label>
                                        </div>

                                        <!-- <button pButton type="button" icon="pi pi-plus" (click)="openCreateDir(0)"></button> -->
                                        <button pButton type="button" icon="pi pi-plus" (click)="openSelectCate()"
                                            style="height:31px"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    Thư mục tệp
                                </div>
                                <div class="col-md-9">
                                    <div class="d-flex">
                                        <div style="width:90%">
                                            <label *ngIf="createSelectedDir"><i class="fas fa-folder"></i>
                                                &nbsp;{{createSelectedDir.label}}</label>

                                            <label *ngIf="!createSelectedDir">Chọn thư mục lưu tệp</label>
                                        </div>

                                        <!-- <button pButton type="button" icon="pi pi-plus" (click)="openCreateDir(0)"></button> -->
                                        <button pButton type="button" icon="pi pi-plus"
                                            (click)="openSelectDir()"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">

                                </div>
                                <div class="col-md-9">
                                    <p-checkbox [(ngModel)]="mainModel.DocumentType" binary="true"
                                        label="Tài liệu nội bộ"></p-checkbox>
                                </div>
                            </div>
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>


            <p-footer>
                <button type="button" pButton icon="pi pi-check" (click)="create()" label="Lưu lại"
                    class="ui-button-success"></button>
                <button type="button" pButton icon="fas fa-times" (click)="displayCreate=false" label="Hủy bỏ"
                    class="ui-button-danger"></button>
            </p-footer>
        </p-dialog>
        <p-dialog header="Chỉnh sửa tệp" [(visible)]="displayUpdateDialog" [modal]="true" [responsive]="true"
            [style]="{width: '500px', minWidth: '200px'}" [maximizable]="true" appendTo="body">
            <div *ngIf="selectedFile">
                <div class="form-group">
                    <div style="
                    display: flex;
                    padding: 10px 0;
                    padding-right: 15px;
                    border-bottom: 1px dashed;
                ">

                        <div style="margin-right:10px">Tệp đính kèm:</div>
                        <div style="cursor:pointer;color:#07C">
                            <i class="fas fa-paperclip" style="margin-right:5px"></i>
                            <a *ngIf="selectedFile" attr.href="{{mainModel.FileUrl}}" target="blank"
                                style="color:inherit !important">Click
                                để tải về</a>
                        </div>
                    </div>
                </div>
                <div class="form-group">

                    <input type="text" class="form-control" placeholder="Tên tệp" [(ngModel)]="updateModel.Name">
                </div>
                <div class="form-group">

                    <textarea class="form-control" rows="3" placeholder="Mô tả"
                        [(ngModel)]="updateModel.Description"></textarea>
                </div>

                <div>
                    <p-tabView>
                        <p-tabPanel header="Thông tin tệp">
                            <div class="row form-group">
                                <div class="col-md-3">
                                    Ngày tạo
                                </div>
                                <div class="col-md-9">
                                    <p-calendar [(ngModel)]="mainModel.CreatedOnDate" dateFormat="dd/mm/yy"
                                        [showTime]="true" appendTo="body">
                                    </p-calendar>
                                </div>

                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    Chỉnh sửa lần cuối
                                </div>
                                <div class="col-md-9">

                                    <p-calendar [(ngModel)]="mainModel.LastModifiedOnDate" dateFormat="dd/mm/yy"
                                        [showTime]="true" appendTo="body"></p-calendar>
                                </div>

                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    Tác giả
                                </div>
                                <div class="col-md-9">
                                    <p-dropdown [options]="users" [(ngModel)]="mainModel.CreatedByUserId"
                                        disabled="true" [autoWidth]="false" [style]="{width: '100%'}" appendTo="body">
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    Thể loại
                                </div>
                                <div class="col-md-9">
                                    <div class="d-flex">
                                        <div style="width:90%">
                                            <p-chips *ngIf="selectedCate" [(ngModel)]="selectedCate.strings"
                                                disable="true" placeholder="Chọn thể loại tài liệu"></p-chips>
                                            <label *ngIf="!selectedCate">Chọn thể loại tài liệu</label>
                                        </div>

                                        <!-- <button pButton type="button" icon="pi pi-plus" (click)="openCreateDir(0)"></button> -->
                                        <button pButton type="button" icon="pi pi-plus" (click)="openSelectCate()"
                                            style="height:31px"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    Thư mục tệp
                                </div>
                                <div class="col-md-9">
                                    <div class="d-flex">
                                        <p-dropdown [options]="directories" [(ngModel)]="updateModel.DirectoryId"
                                            [autoWidth]="false" [style]="{width: '100%'}" appendTo="body"></p-dropdown>


                                        <button pButton type="button" icon="pi pi-plus"
                                            (click)="openCreateDir()"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">

                                </div>
                                <div class="col-md-9">
                                    <p-checkbox [(ngModel)]="updateModel.DocumentType" binary="true"
                                        label="Tài liệu nội bộ"></p-checkbox>
                                </div>
                            </div>
                        </p-tabPanel>

                    </p-tabView>
                </div>
            </div>


            <p-footer>
                <button type="button" pButton icon="pi pi-check" (click)="update()" label="Lưu lại"
                    class="ui-button-success"></button>
                <button type="button" pButton icon="fas fa-times" (click)="displayUpdateDialog=false" label="Hủy bỏ"
                    class="ui-button-danger"></button>
            </p-footer>
        </p-dialog>
        <p-dialog header="Đổi tên thư mục" [(visible)]="displayUpdateDirNameDialog" [modal]="true" [responsive]="true"
            [style]="{width: '500px', minWidth: '200px'}" [maximizable]="true" appendTo="body">
            <div *ngIf="updateDirModel">
                <div class="form-group row">
                    <div class="col-md-4">
                        Tên thư mục
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="Tên thư mục"
                            [(ngModel)]="updateDirModel.Name">
                    </div>
                </div>
            </div>


            <p-footer>
                <button type="button" pButton icon="pi pi-check" (click)="updateDirName()" label="Lưu lại"
                    class="ui-button-success"></button>
                <button type="button" pButton icon="fas fa-times" (click)="displayUpdateDirNameDialog=false"
                    label="Hủy bỏ" class="ui-button-danger"></button>
            </p-footer>
        </p-dialog>
        <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
        <p-overlayPanel #op [dismissable]="true" [showCloseIcon]="true" appendTo="body">
            <div *ngIf="SelectedCateItem">
                <div *ngFor="let item of SelectedCateItem; let index = index;">
                    <span>{{item.label}}</span>
                </div>
            </div>
        </p-overlayPanel>
        <p-dialog header="Gửi tài liệu tới phòng ban" [(visible)]="displayShare" [modal]="true" [responsive]="true"
        [style]="{width: '600px', minWidth: '200px'}" [maximizable]="true" appendTo="body">
        <div>
            <p-messages [(value)]="msgs"></p-messages>
            <p-fieldset legend="Thông tin tệp" [toggleable]="true">
                <div *ngIf="selectedFile">
                    <div class="form-group">
                        <div style="
                        display: flex;
                        padding: 10px 0;
                        padding-right: 15px;
                        border-bottom: 1px dashed;
                    ">
    
                            <div style="margin-right:10px">Tệp đính kèm:</div>
                            <div style="cursor:pointer;color:#07C">
                                <i class="fas fa-paperclip" style="margin-right:5px"></i>
                                <a style="color:inherit !important" href="{{selectedFile.FileUrl}}" target="blank">Xem tại
                                    đây</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                Tên
                            </div>
                            <div class="col-8">
                                {{selectedFile.Name}}
                            </div>
                        </div>
    
    
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                Mô tả
                            </div>
                            <div class="col-8">
                                {{selectedFile.Description}}
                            </div>
                        </div>
    
    
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                Thể loại
                            </div>
                            <div class="col-8">
                                {{getCateString(selectedFile.FileCates)}}
                            </div>
                        </div>
                    </div>
                   
                 
                </div>
            </p-fieldset>
            <p-fieldset legend="Thông tin gửi">
                <div class="form-group row">
                    <div class="col-md-4">
                        Phòng ban nhận
                    </div>
                    <div class="col-md-8">
                        <p-dropdown [options]="dm_departments" [(ngModel)]="ShareDocumentModel.DepartmentId" [autoWidth]="false" [style]="{width: '100%'}"></p-dropdown>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                       Lời nhắn
                    </div>
                    <div class="col-md-8">
                        <textarea class="form-control" rows="3"
                        [(ngModel)]="ShareDocumentModel.Message"></textarea>
                    </div>
                </div>
            </p-fieldset>

        </div>


        <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="share()" label="Gửi"
                class="ui-button-success"></button>
            <button type="button" pButton icon="fas fa-times" (click)="displayShare=false" label="Hủy bỏ"
                class="ui-button-danger"></button>
        </p-footer>
    </p-dialog>
    </div>


</div>