<div>
    <p-breadcrumb [model]="BreadcrumbItems" [home]="BreadcrumbHome"></p-breadcrumb>
    <div class="page_title">
        <h2>Tạo văn bản nội bộ</h2>
    </div>
    <div class="container-fluid form_create">
        <p-toolbar>
            <div class="ui-toolbar-group-left">
                <button pButton type="button" label="Lưu lại" (click)="save()" icon="pi pi-check"
                    class="ui-button-success" style="margin-right: .25em !important;"></button>
               
                <button pButton type="button" label="In" icon="fas fa-print" class="ui-button-primary"
                    style="margin-right: .25em !important;"></button>
            </div>
            <div class="ui-toolbar-group-right">
                <button pButton type="button" icon="pi pi-search" class="ui-button-secondary"></button>
            </div>
        </p-toolbar>
        <div class="row">
            <div class="col-md-6">
                <p-fieldset legend="Thông tin chung">
                    <div class="form-group row">
                        <div class="col-md-4">
                            Dạng văn bản
                        </div>
                        <div class="col-md-8">
                            <p-dropdown [options]="cates_depart" [(ngModel)]="createModel.CategoryId" [autoWidth]="false"
                                [style]="{width: '100%'}" appendTo="body"></p-dropdown>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <input type="text" class="form-control" placeholder="Trích yếu nội dung"
                                [(ngModel)]="createModel.Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <textarea class="form-control" rows="3" placeholder="Nội dung vắn tắt"
                                [(ngModel)]="createModel.Summary"></textarea>
                        </div>
                    </div>
                </p-fieldset>

            </div>
            <div class="col-md-6">
                <p-fieldset legend="Mục tin">
                    <div class="form-group row">
                        <div class="col-md-4">
                            Độ mật
                        </div>
                        <div class="col-md-8">
                            <p-dropdown [options]="dm_secretlevels" [(ngModel)]="createModel.SecretLevel"
                                [autoWidth]="false" [style]="{width: '100%'}" appendTo="body"></p-dropdown>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            Trạng thái
                        </div>
                        <div class="col-md-8">
                            <textarea class="form-control" rows="3" placeholder="Dự thảo"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            Bộ phận
                        </div>
                        <div class="col-md-8">
                            <p-dropdown [options]="departments" [(ngModel)]="createModel.DepartmentId"
                                [autoWidth]="false" [style]="{width: '100%'}" appendTo="body"></p-dropdown>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            Người soạn
                        </div>
                        <div class="col-md-8">
                            <p-dropdown [options]="users" [(ngModel)]="createModel.WrittenByUserId" [autoWidth]="false"
                                [style]="{width: '100%'}" appendTo="body"></p-dropdown>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            Người chịu trách nhiệm
                        </div>
                        <div class="col-md-8">
                            <p-dropdown [options]="users" [(ngModel)]="createModel.ResponsibleUserId"
                                [autoWidth]="false" [style]="{width: '100%'}" appendTo="body"></p-dropdown>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            Thư mục
                        </div>
                        <div class="col-md-8">
                            <p-dropdown [options]="dm_directories" [(ngModel)]="createModel.DirectoryId"
                                [autoWidth]="false" [style]="{width: '100%'}" appendTo="body"></p-dropdown>
                        </div>
                    </div>
                </p-fieldset>
                <p-fieldset legend="Tệp">
                    <div class="form-group row">
                        <div class="col-md-12">
                            <p-fileUpload mode="basic" #new_file name="myfile[]" customUpload="true"
                                showUploadButton="false" showCancelButton="false"
                                 (onSelect)="OnSelectFile($event,new_file)"
                                multiple="multiple" chooseLabel="Chọn tệp" uploadLabel="Tải lên" cancelLabel="Hủy bỏ">
                            </p-fileUpload>

                            <ul class="list-unstyled" *ngIf="files_selected">
                                <li *ngFor="let item of files_selected;let i=index">
                                    <a href="#"><i class="fas fa-paperclip"></i> {{item.name}}</a>&nbsp; &nbsp; <button class="btn btn-link" style="color:red" (click)="DeleteFile(i)"><i class="fas fa-times"></i> Xóa</button> 
                                </li>
                            </ul>
                        </div>

                    </div>
                </p-fieldset>


            </div>
        </div>
    </div>

</div>