<div>
  <p-toast></p-toast>
  <p-breadcrumb [model]="BreadcrumbItems" [home]="BreadcrumbHome"></p-breadcrumb>
  <div class="page_title">
    <h2>Danh mục liên lạc</h2>
  </div>
  <div class="container-fluid">
    <div>
      <p-table #dt [value]="contacts" [paginator]="true" [rows]="10" [columns]="cols" [(selection)]="selectedContact"
        dataKey="ContactPersonId">
        <ng-template pTemplate="caption">
          <div style="display:flex">
            <div>
              <button pButton type="button" icon="fas fa-plus-circle" label="Tạo mới" (click)="showDialogToAdd()"></button>
              <button type="button" pButton icon="fas fa-file-excel" label="Xuất dữ liệu" iconPos="left" (click)="dt.exportCSV()"
                class="ui-button-warning"></button>
            </div>
            <div style="flex: 1;text-align: right;">
              <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
              <input type="text" pInputText size="50" placeholder="Tìm trong bảng" (input)="dt.filterGlobal($event.target.value, 'contains')"
                style="width:auto">

            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>

            <th style="width: 4em">STT</th>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
                ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
            <th style="width:10em"></th>
          </tr>

        </ng-template>
        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
          <tr [pSelectableRow]="item">
            <td>{{rowIndex+1}}</td>
            <td>{{item.Name}}</td>
            <td>{{item.Partner}}</td>
            <td>{{item.Position}}</td>
            <td>{{item.OfficePhoneNumber}}</td>
            <td>{{item.PersonalPhoneNumber}}</td>
            <td>
              <button pButton icon="fa fa-eye" (click)="showDetail(item)" class="ui-button-success"></button>
              <button pButton icon="fa fa-edit" (click)="openUpdate(item)" class="ui-button-warning"></button>
              <button pButton icon="fa fa-trash" (click)="ConfirmDelete(item)" class="ui-button-danger"></button>
            </td>
          </tr>

        </ng-template>
      </p-table>
    </div>
    <p-dialog header="Chỉnh sửa thông tin" [(visible)]="displayUpdateDialog" [modal]="true"
     [responsive]="true" [style]="{width: '500px', minWidth: '200px'}"
      [maximizable]="true" appendTo="body">
      <div class="row" *ngIf="updateModel">
          <div class="col-md-12">
              <div class="form-group row">
                  <div class="col-md-4">
                      Đối tác
                  </div>
                  <div class="col-md-8">
                      <p-dropdown [options]="dm_partners" [(ngModel)]="updateModel.PartnerId" [autoWidth]="false" [style]="{width: '100%'}"
                          appendTo="body"></p-dropdown>
                  </div>
              </div>
              <div class="form-group row">
                  <div class="col-md-4">
                      Họ và tên
                  </div>
                  <div class="col-md-8">
                      <input type="text" class="form-control"  [(ngModel)]="updateModel.Name">
                  </div>
              </div>
              <div class="form-group row">
                  <div class="col-md-4">
                      Chức vụ
                  </div>
                  <div class="col-md-8">
                      <input type="text" class="form-control"  [(ngModel)]="updateModel.Position">
                  </div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="form-group row">
                  <div class="col-md-4">
                      Điện thoại công việc
                  </div>
                  <div class="col-md-8">
                      <input type="text" class="form-control" [(ngModel)]="updateModel.OfficePhoneNumber">
                  </div>
              </div>
              <div class="form-group row">
                  <div class="col-md-4">
                      Điện thoại cá nhân
                  </div>
                  <div class="col-md-8">
                      <input type="text" class="form-control"[(ngModel)]="updateModel.PersonalPhoneNumber">
                  </div>
              </div>
              <div class="form-group row">
                  <div class="col-md-4">
                      Email
                  </div>
                  <div class="col-md-8">
                      <input type="email" class="form-control" [(ngModel)]="updateModel.Email">
                  </div>
              </div>
              <div class="form-group row">
                  <div class="col-md-4">
                      Ghi chú thêm
                  </div>
                  <div class="col-md-8">
                      <textarea class="form-control" rows="3"  [(ngModel)]="updateModel.Note"></textarea>
                  </div>
              </div>
          </div>
         
      </div>
      <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="update()" label="Lưu lại" class="ui-button-success"></button>
        <button type="button" pButton icon="fas fa-times" (click)="displayUpdateDialog=false" label="Hủy bỏ" class="ui-button-danger"></button>
      </p-footer>
    </p-dialog>
    <p-dialog header="Thông tin người liên hệ" [(visible)]="displayDetailDialog" [modal]="true" [responsive]="true"
     [style]="{width: '500px', minWidth: '200px'}"
    [maximizable]="true" appendTo="body">
    <div class="row" *ngIf="mainModel">
        <div class="col-md-12">
            <div class="form-group row" *ngIf="selectedContact">
                <div class="col-md-4">
                    Đối tác
                </div>
                <div class="col-md-8">
                    {{selectedContact.Partner}}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    Họ và tên
                </div>
                <div class="col-md-8">
                    {{mainModel.Name}}
        
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    Chức vụ
                </div>
                <div class="col-md-8">
                    {{mainModel.Position}}
                
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group row">
                <div class="col-md-4">
                    Điện thoại công việc
                </div>
                <div class="col-md-8">
                    {{mainModel.OfficePhoneNumber}}
                 
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    Điện thoại cá nhân
                </div>
                <div class="col-md-8">
                    {{mainModel.PersonalPhoneNumber}}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    Email
                </div>
                <div class="col-md-8">
                    {{mainModel.Email}}
              
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    Ghi chú thêm
                </div>
                <div class="col-md-8">
                    {{mainModel.Note}}
                 
                </div>
            </div>
        </div>
       
    </div>
    <p-footer>
      <button type="button" pButton icon="pi pi-check" (click)="displayDetailDialog=false" label="Đóng" class="ui-button-success"></button>
      
    </p-footer>
  </p-dialog>
    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
  </div>

</div>